body {
    margin: 0 left;
    padding: 2em 2em 4em;
    max-width: 5000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #f00;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    background: url("thebigthree.jpg");
}

h1, h2, h3, h4, h5, h6 {
    color:#f00   ;
    font-weight: 600;
    line-height: 1.3em;
    background-color: #f9f9f9;
}

h2 {
    margin-top: 1.3em;
    background-color: #f9f9f9;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}
div {
    background-color: 
}

p {
    color: #f00;
    font-size: 20px;
    background-color:#f9f9f9;
}
img {
    padding-bottom: 20px;
}

